# **Aprendendo Python**
##subtitle
###subtitle

In [ ]:
print ('Olá mundo!')

Olá mundo!

#**Operadores Relacionais**

In [ ]:
1<2

True

In [ ]:
1<=10

True

In [ ]:
2>1

True

In [ ]:
2>=2

True

In [ ]:
5==5

True

In [ ]:
5!=8

True

****
****

#**Operadores Aritméticos**

# Adição
10+2

In [ ]:
# Subtração
10 -2

8

In [ ]:
# Multiplicação
10 * 2

20

In [ ]:
# Divisão
10 / 2

5.0

In [ ]:
# Divisão inteira
10 // 2

5

In [ ]:
# Resto de divisão
10 % 2

0

In [ ]:
# Potenciação
10 ** 2

100

# **Operadores Relacionais**

In [ ]:
# Menor
10 < 2

False

In [ ]:
# Menor ou igual
10 <= 2

False

In [ ]:
# Maior
10 > 2

True

In [ ]:
# Maior ou igual
10 >= 2

True

In [ ]:
# Igual
10 == 2

False

In [ ]:
# Diferente
10 != 2

True

# **Operadores lógicos**


* And
* Or
* Not

# **Tabela Verdade**

*And

In [ ]:
print (10 > 2 and 4< 6) # V and V - V
print (10 > 2 and 4> 6) # V and F - F
print (10 < 2 and 4< 6) # F and V - F
print (10 < 2 and 4> 6) # F and F - F

True
False
False
False

*Or

In [ ]:
print(10 > 2 or 4< 6) # V or V - V
print(10 > 2 or 4> 6) # V or F - V
print(10 < 2 or 4< 6) # F or V - V
print(10 < 2 or 4> 6) # F or F - F

*Not

In [ ]:
not 10 > 2 # V - F

False

In [ ]:
not 10 < 2 # F - V

True

#**Variáveis**
### Variáveis estão alocadas em espaços na memória

In [ ]:
# Nome da variável é "X" que armazena o valor 10 em um espaço na memória
x = 10
print (x) # Utilizar a referência no nome atribuído

10

Regras

**Case Sensitive**

A != a

**Boas práticas com variáveis**

> Exemplo: Multiplicação de 2 números

Não usar
* Multiplicação
* MultiplicaçãoDeDoisNumeros
* M

Usar
* multiplicacao
* mult
* mult_total(snake_case)

# **Regras de variáveis**

## **Nome de variável**
* Começar com letra (a-z, A-Z) ou sublinhado (_) (Dê preferência à minúscula)
* São Case Sensitive (Diferença entra maiúscula e minúscula)
* Exemplo

--> A != a

## **Boas práticas para nome de variáveis**

* Usar nomes que definam o que ela faz no programa
* Não usar nomes longos

![Tabela.jpeg]()

# **Tipos de variáveis**
### **Python é uma linguagem de alto nível**
* Não é necessário especificar o tipo de dado quando declarar a variável
* Python define o tipo de dados na declaração

Tipo:

* Int (inteiro) num = 10
* Float (Real) num = 10.5 (**SEMPRE PONTO, NUNCA VÍRGULA**)
* String (Texto) nome = "Luiz" (  **'**  ou   **"**  funciona igual)

# **Visualização de Variáveis e textos**

In [ ]:
print ("Conhecendo o comando print")
x = 8
print (x)

Conhecendo o comando print
8

In [ ]:
y = 10
soma = x + y
print (soma)

18

In [ ]:
name = "Luiz"
print(name)

Luiz

#**Concatenação**

In [ ]:
x = 5
print ("O valor de x é:",x)

O valor de x é: 5

In [ ]:
print ("O valor de x é", x, "e o dobro é",x*2)

O valor de x é 5 e o dobro é 10

In [ ]:
print ("Eu,", name, ",Tirei nota:",x,"na prova de Python")

Eu, Luiz ,Tirei nota: 5 na prova de Python

In [ ]:
y = 10; z = 20 + x - y
print("Declarar variáveis na mesma linha", y,"e", z) #Usar o ponto e vírgula

Declarar variáveis na mesma linha 10 e 15

# **Type**

In [ ]:
x = 10
type (x)
print("x", type(x))

name = "Luiz"
print("name", type(name))

num = "100"
num_convert = int (num) # Converter Variável
print ("num", type (num))
print ("num_convert", type (num_convert))

num_float = float (num)
print ("num_float", (num_float))

x <class 'int'>
name <class 'str'>
num <class 'str'>
num_convert <class 'int'>
num_float 100.0

# **INPUT**

In [ ]:
name = input ("Digite o nome do usuário") # Aguarda o usuário digitar algo
print (name)

Digite o nome do usuárioJoão
João

In [ ]:
valor = input ("Digite a nota")
print (name, "sua nota foi", valor)

Digite a nota10
João sua nota foi 10

In [ ]:
valor = input ("digite o valor do produto")
print (valor)

digite o valor do produto100
100

In [ ]:
desconto = int(valor) - 5 #Convertendo o (valor) para INT apenas nesse calculo
print (desconto)

95

In [ ]:
valor_convert = int(valor) #Convertendo o (valor) para INT em todos os calculos
desconto = valor_convert -5
print (desconto)

95

# **Condicional**

In [ ]:
# If
if 5 <10:
  print ("Verdadeiro")

Verdadeiro

In [ ]:
# If / Else
num1 = 10
num2 = 20
if num1 < num2:
  print ("Verdadeiro")
else:
  print ("Falso")

Verdadeiro

In [ ]:
# If / Elif / Else
num1 = 10
num2 = 10
if num1 > num2:
  print ("O num1 é o maior número")
elif num1 < num2:
  print ("O num2 é o maior número")
else:
  print ("Os dois são iguais")

Os dois são iguais

#**Condicional com operadores lógicos**

In [ ]:
num1 = 10
num2 = 5
num3 = 2
if (num1 > num2) and (num1 > num3):
  print ("O num1 é o maior número")
else:
  print ("O num1 não é o maior número")

O num1 é o maior número

#**Listas, tuplas e dicionários**

In [ ]:
 # Lista
 [1,2,3,4,5]

[1, 2, 3, 4, 5]

In [ ]:
# Tupla
(1,2,3,4,5)

In [ ]:
# Dicionário
{"num1": 1, "num2": 2}

{'num1': 1, 'num2': 2}

#**Lista**

In [ ]:
lista = [5, "Luiz", 8.9]

In [ ]:
type (lista)

list

In [ ]:
lista.append ("João") # Adicionar um elemento na lista

In [ ]:
print (lista)
print (lista[3]) # Acessar um elemento da lista

[5, 'Luiz', 8.9, 'João']
João

#**Tupla**

In [ ]:
tupla = (5, "Luiz", 8.9)

In [ ]:
type (tupla)

tuple

In [ ]:
tupla.append ("João") # Não é possível adicionar um elemento na tupla

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
print (tupla)
print (tupla[2]) # Acessar um elemento da tupla

(5, 'Luiz', 8.9)
8.9

#**Dicionário**

In [ ]:
dicionario = {"nome":"Luiz", "cidade": "Niterói"}

In [ ]:
type(dicionario)

dict

In [ ]:
print(dicionario)

{'nome': 'Luiz', 'cidade': 'Niterói'}

In [ ]:
print(dicionario ["ultimo_nome"])

Paluski

In [ ]:
dicionario["ultimo_nome"] = "Paluski"

In [ ]:
print(dicionario)

{'nome': 'Luiz', 'cidade': 'Niterói', 'ultimo_nome': 'Paluski'}

#**For**
##Estrutura de repetição

**Executar comandos, enquanto percorre os itens de uma coleção**
* Sintaxe:
  >>> For <Variável> in <coleção>:

  >>>   << comandos >>

##**Formas de repetição**
* Range
* Simples
* Enumerate

#**For**

In [ ]:
# For Range
for contador in range(10):
  print(contador)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# For range + break
for contador in range(1000):
  print(contador)
  if contador == 2:
    break

0
1
2

In [ ]:
lista = ["Teste1", "Teste2"]

In [ ]:
# For simples
for val in lista:
  print(val)

Teste1
Teste2

In [ ]:
# For com enumerate
for i, val in enumerate(lista):
  print(i, val)

0 Teste1
1 Teste2

#**For com operadores compostos**

In [ ]:
lista2 = [2,3,4]

In [ ]:
for val in lista2:
  val *=2
  print(val)

4
6
8

#**While**

In [ ]:
val = 1
while (val<6):
  val *=2
  print(val)

2
4
8

In [ ]:
# While com else
val = 4
while (val<6):
  val *=2
  print(val)
else:
  print("Valor de val é:", val)

8
Valor de val é: 8

#**Acessar algo por senha**

In [ ]:
#Verificação de senha

#Definir a senha
senha= ["514785", "123456", "987654"]
#Pedir senha
senha_usuario= input("Digite a senha:")

if senha_usuario in senha:
  print("Acesso permitido")
else:
  print("Acesso negado")

Digite a senha:pirulito
Acesso negado

In [ ]:
#Organizando dados de feedback de clientes
#Lista de feedbacks
feedbacks = ["Ótimo serviço", "Produto excelente", "Atendimento rápido"]
#Dicionário com informações do cliente
cliente ={
    "nome":"Maria",
    "idade": 28,
    "feedback": "Muito satisfeita"
}
#Imprimir os feedbacks da lista
print("Feedbacks dos clientes:")
for feedback in feedbacks:
  print("-" + feedback)
#Imprimir informações do cliente
print("\nInformações do cliente:") #\n é utilizado para quebrar a linha
print("Nome:", cliente["nome"])
print("Idade:", cliente["idade"])
print("Feedback:", cliente["feedback"])
#

Feedbacks dos clientes:
-Ótimo serviço
-Produto excelente
-Atendimento rápido

Informações do cliente:
Nome: Maria
Idade: 28
Feedback: Muito satisfeita

#**Loop while**

In [ ]:
contador = 2
while contador <50:
  print("Isso é a interação número", contador)
  contador *= 2
while contador >4:
  print("Isso é a interação número", contador)
  contador -= 2

Isso é a interação número 2
Isso é a interação número 4
Isso é a interação número 8
Isso é a interação número 16
Isso é a interação número 32
Isso é a interação número 64
Isso é a interação número 62
Isso é a interação número 60
Isso é a interação número 58
Isso é a interação número 56
Isso é a interação número 54
Isso é a interação número 52
Isso é a interação número 50
Isso é a interação número 48
Isso é a interação número 46
Isso é a interação número 44
Isso é a interação número 42
Isso é a interação número 40
Isso é a interação número 38
Isso é a interação número 36
Isso é a interação número 34
Isso é a interação número 32
Isso é a interação número 30
Isso é a interação número 28
Isso é a interação número 26
Isso é a interação número 24
Isso é a interação número 22
Isso é a interação número 20
Isso é a interação número 18
Isso é a interação número 16
Isso é a interação número 14
Isso é a interação número 12
Isso é a interação número 10
Isso é a interação número 8
Isso é a interação número 6

In [ ]:
#Loop For:
frutas = ["maçã", "banana", "laranja"]
for fruta in frutas:
  print("Eu gosto de", fruta)

Eu gosto de maçã
Eu gosto de banana
Eu gosto de laranja

In [ ]:
#Lista de notas dos alunos
notas = [85,92,78,90,88]
#Calcula a média das notas
soma = 0
for nota in notas:
  soma += nota
media = soma / len(notas)
#Classifica os alunos com base na média
alunos_aprovados =[]
alunos_reprovados =[]

for nota in notas:
  if nota >= media:
    alunos_aprovados.append(nota)
  else:
    alunos_reprovados.append(nota)

# imprime os resultados
print("Notas dos alunos:", notas)
print("Média das notas:", media)
print("Alunos aprovados:", alunos_aprovados)
print("Alunos reprovados:", alunos_reprovados)

Notas dos alunos: [85, 92, 78, 90, 88]
Média das notas: 86.6
Alunos aprovados: [92, 90, 88]
Alunos reprovados: [85, 78]